.FormCss {
    display: flex;
    background: white;
    margin-left: -500px;
    margin-right: 450px;
    margin-top: 200px;
    border-radius: 30px;
    width: 250%;
    align-items: center;
    vertical-align: 500px;
    horiz-align: center;
    position: center;
}

.bt-01 {
    display: table-column;
    left: 114%;
    top: 10px;
    background-color: #8820dd;
    position: relative;
}

.lb-01 {
    color: black;
    display: flex;
    position: relative;
    left: 50%;
    font-size: 20px;
}

.imp-01 {
    position: relative;
    left:50%;
}